.navbar{
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 3rem; */
    margin: 1rem;
}
.navbar img{
    width: 5vh;
    
}

/* .profile{
    float: right;
    padding-right: 1rem;
} */

/* .subNav{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
} */

.salesLogo ul{
    overflow: auto;
    padding-left: 2px; 
}
.salesLogo li{
    list-style: none;
    float: left;
    margin: 1rem;
}

.subNav{
    /* float: left; */
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: gainsboro;
    padding: 0.5rem;
}

details{
    /* border: 2px solid gainsboro; */
    background-color:gainsboro;
}

details > table,
details > h4{
    background-color: white;
    
}

/* .table{
    padding: 1rem;

} */

.progress{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    border: 2px solid gainsboro;
    padding: 0.5rem;
}

.info{
    float: left;
    width: 60%;
}
.side-section{
    float: right;
    width: 30%;
}

.side-section ul{
    list-style: none;
}

.side-section li{
    /* float: left; */
    display: inline;
    margin: 0.5rem;
}
#search{
    width: 60%;
}

.info ,
.side-section{
    border: 2px solid gainsboro;
}

.info details,
.side-section details{
    background-color: gainsboro;
    margin: 2px;
}

.side-list a{
    text-decoration: none;
    background-color: gainsboro;
}

.side-list {
    background-color: gainsboro;
    border: 2px solid gainsboro;
}

.side-list a.active{
    background-color: white;
    color: blue;
    font-size: 1rem;
}

.progress,
.info,
.side-section{
    margin: 0.3rem;
}